@{
    ViewBag.Title = "Welcome to Glesener Insurance";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at Glesener we try to provide fair and accurate quotes for all our potential clients.<br>
    Not happy with your quote? Give us a call at our customer service number and<br> we will figure 
    out a solution to get you apart of Glesener insurance.</p>
