@{
    ViewBag.Title = "Home Page";
}
<head>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<div class="jumbotron">
    <h1 w3-hide-medium w3-hide-small textload2>Glesener Insurance</h1>
    <p class="lead">Welcome to Glesener insurance! We pride ourselves in offering the cheapest insurance around.
    Here at Glesener we are sure you will love having us as your insurance.</p>
    <p><a href="https://localhost:44362/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://tse2.mm.bing.net/th?id=OIP.HOp01OsZVXOw5GLlg-T-RQHaFH&pid=Api&P=0&w=257&h=178" width="350"/>
        <h2>Let's get you a quote!</h2>
        <p>
            Our process is fast and easy so that you'll have an accurate quote in minutes and you will be well on your<br>
            way to feeling safe and confident on the road. 
        </p>
        <p><a class="btn btn-default" href="https://localhost:44362/Insuree/Create">Get a Quote! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="https://res.cloudinary.com/value-penguin/image/upload/c_limit,dpr_1.0,f_auto,h_1600,q_auto,w_1600/v1/graph_88_ysqih7" width="350" height="242">
        <h2>Price Comparison</h2>
        <p>Along with our gold standard customer service and care we provide unheard of pricing that you won't get anywhere else.<br>
        We don't just say we have good pricing. We prove it with statistical analysis that can't be argued over. We don't tell you, we 
        <br> we show you!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>